@tailwind base;
@tailwind components;
@tailwind utilities;


.titleFont {
  font-family: "Abril Fatface", serif;
}

.titleFont1 {
  font-family: "Merriweather", serif;
  /* font-family: 'Montserrat Alternates', sans-serif; */
}
.cardScroll::-webkit-scrollbar {
  width: 2px;
}
.entry-content a:hover:before {  
  height: 17px;   
}


::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.cardScroll::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.cardScroll::-webkit-scrollbar-thumb {
  background: azure;
  border-radius: 10px;
}

.commonContainer {
  max-width: 1512px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 120px;
  padding-right: 120px;
}

/* text animation */
.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 6s ease infinite alternate;
  -moz-animation: animatedgradient 6s ease infinite alternate;
  animation: animatedgradient 6s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}



.animate-Button {
  animation-name: rotate;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate{
  from{ transform: rotate(-360deg); }
  to{ transform: rotate(360deg); }
}








@media screen and (max-width: 1280px) {
  .commonContainer {
    padding-left: 80px;
    padding-right: 80px;
  }
}

@media screen and (max-width: 1024px) {
  .commonContainer {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media screen and (max-width: 600px) {
  .commonContainer {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 340px) {
  .commonContainer {
    padding-left: 16px;
    padding-right: 16px;
  }
}
